# =========================
# Visual Studio
# =========================
.vs/
*.VC.db
*.VC.opendb

# Build folders
Debug/
Release/
x64/
x86/
build/

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# CUDA
# =========================
*.obj
*.ptx
*.cubin
*.exp
*.lib

# =========================
# Binaries
# =========================
*.exe
*.out
*.dll
*.pdb

# =========================
# Misc
# =========================
*.ilk
*.tlog